* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 10;
}

.logo {
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.08);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #38bdf8;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}
@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .nav-links {
        gap: 18px;
    }

    .logo {
        height: 45px;
    }
}
